<a href="https://colab.research.google.com/github/theagegeshidze/theagegeshidze.github.io/blob/main/dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, json , pandas as pd, numpy as np
from datetime import datetime

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline

In [ ]:
import seaborn as sns
sns.set()

In [ ]:
df = pd.read_csv(r'https://raw.githubusercontent.com/theagegeshidze/theagegeshidze.github.io/main/nuclearfranceweek10.csv')
print(df)

   Country Code  Year  Nuclear (% equivalent primary energy)
0   France  FRA  1965                               0.194345
1   France  FRA  1966                               0.295108
2   France  FRA  1967                               0.412751
3   France  FRA  1968                               0.581042
4   France  FRA  1969                               0.615257
5   France  FRA  1970                               0.898674
6   France  FRA  1971                               1.411952
7   France  FRA  1972                               2.065884
8   France  FRA  1973                               1.923586
9   France  FRA  1974                               1.953198
10  France  FRA  1975                               2.571942
11  France  FRA  1976                               2.089144
12  France  FRA  1977                               2.344352
13  France  FRA  1978                               3.808715
14  France  FRA  1979                               4.854644
15  France  FRA  1980                               7.533030
16  France  FRA  1981                              13.080227
17  France  FRA  1982                              14.044781
18  France  FRA  1983                              18.150490
19  France  FRA  1984                              23.276700
20  France  FRA  1985                              26.405907
21  France  FRA  1986                              29.221483
22  France  FRA  1987                              29.972267
23  France  FRA  1988                              30.691347
24  France  FRA  1989                              33.445854
25  France  FRA  1990                              33.531178
26  France  FRA  1991                              33.278870
27  France  FRA  1992                              33.709960
28  France  FRA  1993                              36.665623
29  France  FRA  1994                              36.296720
30  France  FRA  1995                              37.154050
31  France  FRA  1996                              37.732853
32  France  FRA  1997                              38.073746
33  France  FRA  1998                              36.515870
34  France  FRA  1999                              36.460148
35  France  FRA  2000                              37.911522
36  France  FRA  2001                              37.739025
37  France  FRA  2002                              39.295822
38  France  FRA  2003                              39.027367
39  France  FRA  2004                              39.088554
40  France  FRA  2005                              39.356525
41  France  FRA  2006                              39.308205
42  France  FRA  2007                              38.835125
43  France  FRA  2008                              38.449417
44  France  FRA  2009                              37.733727
45  France  FRA  2010                              38.073338
46  France  FRA  2011                              40.644240
47  France  FRA  2012                              38.823660
48  France  FRA  2013                              38.026894
49  France  FRA  2014                              40.645634
50  France  FRA  2015                              40.253520
51  France  FRA  2016                              37.514640
52  France  FRA  2017                              37.121030
53  France  FRA  2018                              37.561512
54  France  FRA  2019                              36.941353
55  France  FRA  2020                              36.244507
56  France  FRA  2021                              36.457490

In [ ]:
lc_nuclear=pd.read_csv("https://raw.githubusercontent.com/theagegeshidze/theagegeshidze.github.io/main/nuclearfranceweek10.csv")
lc_nuclear

   Country Code  Year  Nuclear (% equivalent primary energy)
0   France  FRA  1965                               0.194345
1   France  FRA  1966                               0.295108
2   France  FRA  1967                               0.412751
3   France  FRA  1968                               0.581042
4   France  FRA  1969                               0.615257
5   France  FRA  1970                               0.898674
6   France  FRA  1971                               1.411952
7   France  FRA  1972                               2.065884
8   France  FRA  1973                               1.923586
9   France  FRA  1974                               1.953198
10  France  FRA  1975                               2.571942
11  France  FRA  1976                               2.089144
12  France  FRA  1977                               2.344352
13  France  FRA  1978                               3.808715
14  France  FRA  1979                               4.854644
15  France  FRA  1980                               7.533030
16  France  FRA  1981                              13.080227
17  France  FRA  1982                              14.044781
18  France  FRA  1983                              18.150490
19  France  FRA  1984                              23.276700
20  France  FRA  1985                              26.405907
21  France  FRA  1986                              29.221483
22  France  FRA  1987                              29.972267
23  France  FRA  1988                              30.691347
24  France  FRA  1989                              33.445854
25  France  FRA  1990                              33.531178
26  France  FRA  1991                              33.278870
27  France  FRA  1992                              33.709960
28  France  FRA  1993                              36.665623
29  France  FRA  1994                              36.296720
30  France  FRA  1995                              37.154050
31  France  FRA  1996                              37.732853
32  France  FRA  1997                              38.073746
33  France  FRA  1998                              36.515870
34  France  FRA  1999                              36.460148
35  France  FRA  2000                              37.911522
36  France  FRA  2001                              37.739025
37  France  FRA  2002                              39.295822
38  France  FRA  2003                              39.027367
39  France  FRA  2004                              39.088554
40  France  FRA  2005                              39.356525
41  France  FRA  2006                              39.308205
42  France  FRA  2007                              38.835125
43  France  FRA  2008                              38.449417
44  France  FRA  2009                              37.733727
45  France  FRA  2010                              38.073338
46  France  FRA  2011                              40.644240
47  France  FRA  2012                              38.823660
48  France  FRA  2013                              38.026894
49  France  FRA  2014                              40.645634
50  France  FRA  2015                              40.253520
51  France  FRA  2016                              37.514640
52  France  FRA  2017                              37.121030
53  France  FRA  2018                              37.561512
54  France  FRA  2019                              36.941353
55  France  FRA  2020                              36.244507
56  France  FRA  2021                              36.457490

In [ ]:
lc_nuclear = lc_nuclear[:-2]

In [ ]:
lc_nuclear

   Country Code  Year  Nuclear (% equivalent primary energy)
0   France  FRA  1965                               0.194345
1   France  FRA  1966                               0.295108
2   France  FRA  1967                               0.412751
3   France  FRA  1968                               0.581042
4   France  FRA  1969                               0.615257
5   France  FRA  1970                               0.898674
6   France  FRA  1971                               1.411952
7   France  FRA  1972                               2.065884
8   France  FRA  1973                               1.923586
9   France  FRA  1974                               1.953198
10  France  FRA  1975                               2.571942
11  France  FRA  1976                               2.089144
12  France  FRA  1977                               2.344352
13  France  FRA  1978                               3.808715
14  France  FRA  1979                               4.854644
15  France  FRA  1980                               7.533030
16  France  FRA  1981                              13.080227
17  France  FRA  1982                              14.044781
18  France  FRA  1983                              18.150490
19  France  FRA  1984                              23.276700
20  France  FRA  1985                              26.405907
21  France  FRA  1986                              29.221483
22  France  FRA  1987                              29.972267
23  France  FRA  1988                              30.691347
24  France  FRA  1989                              33.445854
25  France  FRA  1990                              33.531178
26  France  FRA  1991                              33.278870
27  France  FRA  1992                              33.709960
28  France  FRA  1993                              36.665623
29  France  FRA  1994                              36.296720
30  France  FRA  1995                              37.154050
31  France  FRA  1996                              37.732853
32  France  FRA  1997                              38.073746
33  France  FRA  1998                              36.515870
34  France  FRA  1999                              36.460148
35  France  FRA  2000                              37.911522
36  France  FRA  2001                              37.739025
37  France  FRA  2002                              39.295822
38  France  FRA  2003                              39.027367
39  France  FRA  2004                              39.088554
40  France  FRA  2005                              39.356525
41  France  FRA  2006                              39.308205
42  France  FRA  2007                              38.835125
43  France  FRA  2008                              38.449417
44  France  FRA  2009                              37.733727
45  France  FRA  2010                              38.073338
46  France  FRA  2011                              40.644240
47  France  FRA  2012                              38.823660
48  France  FRA  2013                              38.026894
49  France  FRA  2014                              40.645634
50  France  FRA  2015                              40.253520
51  France  FRA  2016                              37.514640
52  France  FRA  2017                              37.121030
53  France  FRA  2018                              37.561512
54  France  FRA  2019                              36.941353

In [ ]:
emissions=pd.read_csv("https://raw.githubusercontent.com/theagegeshidze/theagegeshidze.github.io/main/franceemissionsweek10.csv")
emissions

   Country Code  Year  Annual C02 emissions
0   France  FRA  1965             363497540
1   France  FRA  1966             380389800
2   France  FRA  1967             404666620
3   France  FRA  1968             418254240
4   France  FRA  1969             443401400
5   France  FRA  1970             460449150
6   France  FRA  1971             493421630
7   France  FRA  1972             513987300
8   France  FRA  1973             538685200
9   France  FRA  1974             520686050
10  France  FRA  1975             482201440
11  France  FRA  1976             523484260
12  France  FRA  1977             506997660
13  France  FRA  1978             528802780
14  France  FRA  1979             532165100
15  France  FRA  1980             511112160
16  France  FRA  1981             459371870
17  France  FRA  1982             440436220
18  France  FRA  1983             423313730
19  France  FRA  1984             412001800
20  France  FRA  1985             405222050
21  France  FRA  1986             390393100
22  France  FRA  1987             387772640
23  France  FRA  1988             385571070
24  France  FRA  1989             399678370
25  France  FRA  1990             393422900
26  France  FRA  1991             418367140
27  France  FRA  1992             406648320
28  France  FRA  1993             388080130
29  France  FRA  1994             381908900
30  France  FRA  1995             386261860
31  France  FRA  1996             401373100
32  France  FRA  1997             393945150
33  France  FRA  1998             413634370
34  France  FRA  1999             412183140
35  France  FRA  2000             406828930
36  France  FRA  2001             411613950
37  France  FRA  2002             407790500
38  France  FRA  2003             412534600
39  France  FRA  2004             413779940
40  France  FRA  2005             416165820
41  France  FRA  2006             406462370
42  France  FRA  2007             396660500
43  France  FRA  2008             390777570
44  France  FRA  2009             371045220
45  France  FRA  2010             376645400
46  France  FRA  2011             354602460
47  France  FRA  2012             356912580
48  France  FRA  2013             358623360
49  France  FRA  2014             327107260
50  France  FRA  2015             331580000
51  France  FRA  2016             334439780
52  France  FRA  2017             337457540
53  France  FRA  2018             322526820
54  France  FRA  2019             316386780

In [ ]:
emissions = emissions.drop('Code',1)

<ipython-input-15-30d0e9a3e29e>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  emissions = emissions.drop('Code',1)

In [ ]:
emissions

   Country  Year  Annual C02 emissions
0   France  1965             363497540
1   France  1966             380389800
2   France  1967             404666620
3   France  1968             418254240
4   France  1969             443401400
5   France  1970             460449150
6   France  1971             493421630
7   France  1972             513987300
8   France  1973             538685200
9   France  1974             520686050
10  France  1975             482201440
11  France  1976             523484260
12  France  1977             506997660
13  France  1978             528802780
14  France  1979             532165100
15  France  1980             511112160
16  France  1981             459371870
17  France  1982             440436220
18  France  1983             423313730
19  France  1984             412001800
20  France  1985             405222050
21  France  1986             390393100
22  France  1987             387772640
23  France  1988             385571070
24  France  1989             399678370
25  France  1990             393422900
26  France  1991             418367140
27  France  1992             406648320
28  France  1993             388080130
29  France  1994             381908900
30  France  1995             386261860
31  France  1996             401373100
32  France  1997             393945150
33  France  1998             413634370
34  France  1999             412183140
35  France  2000             406828930
36  France  2001             411613950
37  France  2002             407790500
38  France  2003             412534600
39  France  2004             413779940
40  France  2005             416165820
41  France  2006             406462370
42  France  2007             396660500
43  France  2008             390777570
44  France  2009             371045220
45  France  2010             376645400
46  France  2011             354602460
47  France  2012             356912580
48  France  2013             358623360
49  France  2014             327107260
50  France  2015             331580000
51  France  2016             334439780
52  France  2017             337457540
53  France  2018             322526820
54  France  2019             316386780

In [ ]:
emissions = emissions.drop('Country',1)
emissions.head(54)

<ipython-input-17-31cb5febc0d4>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  emissions = emissions.drop('Country',1)

    Year  Annual C02 emissions
0   1965             363497540
1   1966             380389800
2   1967             404666620
3   1968             418254240
4   1969             443401400
5   1970             460449150
6   1971             493421630
7   1972             513987300
8   1973             538685200
9   1974             520686050
10  1975             482201440
11  1976             523484260
12  1977             506997660
13  1978             528802780
14  1979             532165100
15  1980             511112160
16  1981             459371870
17  1982             440436220
18  1983             423313730
19  1984             412001800
20  1985             405222050
21  1986             390393100
22  1987             387772640
23  1988             385571070
24  1989             399678370
25  1990             393422900
26  1991             418367140
27  1992             406648320
28  1993             388080130
29  1994             381908900
30  1995             386261860
31  1996             401373100
32  1997             393945150
33  1998             413634370
34  1999             412183140
35  2000             406828930
36  2001             411613950
37  2002             407790500
38  2003             412534600
39  2004             413779940
40  2005             416165820
41  2006             406462370
42  2007             396660500
43  2008             390777570
44  2009             371045220
45  2010             376645400
46  2011             354602460
47  2012             356912580
48  2013             358623360
49  2014             327107260
50  2015             331580000
51  2016             334439780
52  2017             337457540
53  2018             322526820

In [ ]:
df = pd.merge(emissions, lc_nuclear, on='Year', how = 'outer')

In [ ]:
df

,Year,Annual C02 emissions,Country,Code,Nuclear (% equivalent primary energy)
0,1965,363497540,France,FRA,0.194345
1,1966,380389800,France,FRA,0.295108
2,1967,404666620,France,FRA,0.412751
3,1968,418254240,France,FRA,0.581042
4,1969,443401400,France,FRA,0.615257
5,1970,460449150,France,FRA,0.898674
6,1971,493421630,France,FRA,1.411952
7,1972,513987300,France,FRA,2.065884
8,1973,538685200,France,FRA,1.923586
9,1974,520686050,France,FRA,1.953198
10,1975,482201440,France,FRA,2.571942
11,1976,523484260,France,FRA,2.089144
12,1977,506997660,France,FRA,2.344352
13,1978,528802780,France,FRA,3.808715
14,1979,532165100,France,FRA,4.854644
15,1980,511112160,France,FRA,7.533030
16,1981,459371870,France,FRA,13.080227
17,1982,440436220,France,FRA,14.044781
18,1983,423313730,France,FRA,18.150490
19,1984,412001800,France,FRA,23.276700
20,1985,405222050,France,FRA,26.405907
21,1986,390393100,France,FRA,29.221483
22,1987,387772640,France,FRA,29.972267
23,1988,385571070,France,FRA,30.691347
24,1989,399678370,France,FRA,33.445854
25,1990,393422900,France,FRA,33.531178
26,1991,418367140,France,FRA,33.278870
27,1992,406648320,France,FRA,33.709960
28,1993,388080130,France,FRA,36.665623
29,1994,381908900,France,FRA,36.296720
30,1995,386261860,France,FRA,37.154050
31,1996,401373100,France,FRA,37.732853
32,1997,393945150,France,FRA,38.073746
33,1998,413634370,France,FRA,36.515870
34,1999,412183140,France,FRA,36.460148
35,2000,406828930,France,FRA,37.911522
36,2001,411613950,France,FRA,37.739025
37,2002,407790500,France,FRA,39.295822
38,2003,412534600,France,FRA,39.027367
39,2004,413779940,France,FRA,39.088554
40,2005,416165820,France,FRA,39.356525
41,2006,406462370,France,FRA,39.308205
42,2007,396660500,France,FRA,38.835125
43,2008,390777570,France,FRA,38.449417
44,2009,371045220,France,FRA,37.733727
45,2010,376645400,France,FRA,38.073338
46,2011,354602460,France,FRA,40.644240
47,2012,356912580,France,FRA,38.823660
48,2013,358623360,France,FRA,38.026894
49,2014,327107260,France,FRA,40.645634
50,2015,331580000,France,FRA,40.253520
51,2016,334439780,France,FRA,37.514640
52,2017,337457540,France,FRA,37.121030
53,2018,322526820,France,FRA,37.561512
54,2019,316386780,France,FRA,36.941353